.donutChart {
  overflow: visible !important;
}
.donutChart path.slice {
  stroke-width: 1px;
  stroke: white;
}
.donutChart path.slice-highlight {
  stroke-width: 1px;
  stroke: white;
}
.donutChart .labels text {
  font-family: Segoe UI,Tahoma,Verdana,Geneva,sans-serif;
  font-size: 11px;
  fill: #777777;
}
.donutChart polyline {
  stroke: #777777;
  stroke-width: 1px;
  fill: rgba(0, 0, 0, 0);
}
.donutChart .donutLegendArrow {
  fill: #666666;
}
.donutLegend .legend-item .category {
  font-family: Segoe UI,Tahoma,Verdana,Geneva,sans-serif;
  color: #666666;
}
.donutLegend .legend-item .percentage {
  font-family: Segoe UI,Tahoma,Verdana,Geneva,sans-serif;
  
}
.donutLegend .legend-item .value {
  font-family: Segoe UI,Tahoma,Verdana,Geneva,sans-serif;
  color: #666666;
}