.GMODonutTitleDiv, .errorMessage {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.donutChartGMO {
    overflow: visible;
}

    .donutChartGMO path.slice {
        stroke-width: 1px;
        stroke: white;
    }

    .donutChartGMO path.slice-highlight {
        stroke-width: 1px;
        stroke: white;
    }

    .donutChartGMO .labels text {
        font-family: Segoe UI,Tahoma,Verdana,Geneva,sans-serif;
        font-size: 11px;
        fill: #777777;
    }

    .donutChartGMO polyline {
        stroke: #777777;
        stroke-width: 1px;
        fill: rgba(0, 0, 0, 0);
    }

    .donutChartGMO .donutLegendArrow {
        fill: #666666;
    }

.donutLegend .legend-item .category {
    font-family: Segoe UI,Tahoma,Verdana,Geneva,sans-serif;
    color: #666666;
}

.donutLegend .legend-item .percentage {
    font-family: Segoe UI,Tahoma,Verdana,Geneva,sans-serif;
}

.donutLegend .legend-item .value {
    font-family: Segoe UI,Tahoma,Verdana,Geneva,sans-serif;
    color: #666666;
}

.visual-icon.DonutChartGMO1474908387720{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo1Y2VmNWYwYy0xYTExLTMyNDktOTQ3Yi0zNDc5ODMyNjI1M2MiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OTQwNEE0NjZGMDYxMTFFNTg1QTRCQTVDQzdGRUM1RkYiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OTQwNEE0NjVGMDYxMTFFNTg1QTRCQTVDQzdGRUM1RkYiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NGJlNmZiMWYtYTcyMS05ZjRhLWI4MTUtM2Q4NDk1M2MwYTNjIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjVjZWY1ZjBjLTFhMTEtMzI0OS05NDdiLTM0Nzk4MzI2MjUzYyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnYBZAMAAAMMSURBVHjahFRbTxNBGJ2Z3W5vu6UFbKkol64YY8LFGH2oiVEELySEYIL6ZuJb+RXyK+DNB19MjPhiQkKiPJBgjNFYhABiKXdoCyzQ3d52Z8bZ7lqQQJyHL3P5zp7zfXNmYVdXFzhtCBJwSlTb4anTRbPaqTn8ybUbhK9TXz31Ryhbfh3m+OfPaFY15n4bP2ZpvnAmuOYylXuIww0Kir1DIWQRSqLjZgff0lz6/A0vJiv5qDILddCWXmLNXQGA9fIMHiUAhJw9nXzrlZNg3wUqPyCcAIgOKAEUg8wMXJ5AuGDgX0sAY5LehVWS2Yu7UVRfd0w2BPJDanE4fWBnHi5/RMVDK0Evjk1A0eN81GnTQSjcu1V4PQooNRFQgJkFqOfMIy0FFz9UkH8rV3OF92Mks2urDfi5SIPNvB42NtZA8Dsn1lKUh0x5W1u7LMvt7W3x+HQ0Gk0kEiMjw6VPU66nvRaekxtxYsUEqz6S99J0GAcyqHGFF0UxFouNj49PTU15vSKLDMzSyHa6NPmF7B9i5YCWdATLhRqCLQ+XOxAKheLxOKPt73+cSm2zyfR03ErY2lXmawM/r12dvdHGauYikUgmTAhnnjl0WJ1BiqIIgsCYEUIej3d09J2m2Q7butSoVvspQnzJCK5umFxCEehl8ryHsA5CAljBoVDdwMATttnX1zc4GFNVlRkm55OsrziKRfuevVlUkb13zvRJd/d9FlOpFBPMWmAtD4I1nIHdZZ9Lewd2t5nU9Hls4TcbDG/WMTT00kKyyFrAIucDkpblDD0viZxh+FM7NtiVg/5dtF9DLPJV2dBSi9UaUhOqefN51dMK6+4gnNXh29m1xmaCkDurHj2M+iSnSVQXqFuDOZHmRGOzCQQ3uEjYEbjNXFT2hgtcfGFwb5I4g//xNuuzPMd7s5BduF0/B4pugCQKhWNeI4DHJYTxyVfFxDct8FUKAmeMwhLdfkX0zBnvmfE3z/NMtlJLmO04DKgB9DQorlNthpY2//cnYcOjQo/KTGP6Rk1SdZKepeWPAAMA1FFjzfZnGpIAAAAASUVORK5CYII=);}